@font-face {
	font-family: 'Conv_Centrale Sans Light';
	src: url('../fonts/Centrale Sans Light.eot');
	src: local('☺'), url('../fonts/Centrale Sans Light.woff') format('woff'), url('../fonts/Centrale Sans Light.ttf') format('truetype'), url('../fonts/Centrale Sans Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Centrale Sans Extra Light';
	src: url('../fonts/Centrale Sans Extra Light.eot');
	src: local('☺'), url('../fonts/Centrale Sans Extra Light.woff') format('woff'), url('../fonts/Centrale Sans Extra Light.ttf') format('truetype'), url('../fonts/Centrale Sans Extra Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Centrale Sans Medium';
	src: url('../fonts/Centrale Sans Medium.eot');
	src: local('☺'), url('../fonts/Centrale Sans Medium.woff') format('woff'), url('../fonts/Centrale Sans Medium.ttf') format('truetype'), url('../fonts/Centrale Sans Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_BPG_Nino_Mkhedruli_Book';
	src: url('../fonts/BPG_Nino_Mkhedruli_Book.eot');
	src: local('☺'), url('../fonts/BPG_Nino_Mkhedruli_Book.woff') format('woff'), url('../fonts/BPG_Nino_Mkhedruli_Book.ttf') format('truetype'), url('../fonts/BPG_Nino_Mkhedruli_Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv___BOD_GN';
	src: url('../fonts/__BOD_GN.eot');
	src: local('☺'), url('../fonts/__BOD_GN.woff') format('woff'), url('../fonts/__BOD_GN.ttf') format('truetype'), url('../fonts/__BOD_GN.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
